body {
  background-color: white;
  background-image: url('../images/codewall.jpg');
  background-position: center;
  background-size: cover;
  font-size: 30px;
  text-align: center;
}

.bug {
  width: 50px;
  height: 50px;
}
/* separately change all image sizes here */

.timer {
  float: left;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: solid 5px white;
}

.score-board {
  float: right;
  width: 200px;
  height: 100px;
  background-color: yellow;
  border: solid 5px white;
}

span {
  font-size: 48px;
}

.container {
  position: relative;
}


.codewall {
  width: 1000px;
  height: 600px;
  background-color: rgba(255,255,255,0.8);
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  border-radius: 10px;
}

#coder {
  position: absolute;
  bottom: -300px;
  /*background-color: red;*/
  height: 150px;
  width: 150px;
  left: 525px;
  margin: 0 auto;
  bottom: 0;
}

.shaking {
  animation: shake 0.1s 30;
}


.column {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
}

.column:nth-child(2) { left: 110px; }
.column:nth-child(3) { left: 210px; }
.column:nth-child(4) { left: 310px; }
.column:nth-child(5) { left: 410px; }
.column:nth-child(6) { left: 510px; }
.column:nth-child(7) { left: 610px; }
.column:nth-child(8) { left: 710px; }
.column:nth-child(9) { left: 810px; }
.column:nth-child(10) { left: 910px; }

.column img {
  width: 70px;
  height: 70px;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-2px);
  }

  40%, 60% {
    transform: translateX(3px);
  }
}
